h1
{
	font-family: sans-serif;
	text-align: center;
}

.editor
{
	text-align: center;
}
.editor canvas
{
	display: inline-block;
	vertical-align: top;
}

.editor .toolwrapper
{
	margin-left: 2em;
	display: inline-block;
	vertical-align: top;
}